.elementor-2717 .elementor-element.elementor-element-b35eb48 {
    padding: 0px 0px 30px 0px;
}

.elementor-2717 .elementor-element.elementor-element-619627c .elementskit-section-title-wraper .elementskit-section-title {
    color: #DB0D17;
    margin: 0px 0px 6px 0px;
}

.elementor-2717 .elementor-element.elementor-element-619627c .elementskit-section-title-wraper .elementskit-section-title:hover {
    color: #DB0D17;
}

.elementor-2717 .elementor-element.elementor-element-619627c .elementskit-section-title-wraper .elementskit-section-title>span {
    color: #DB0D17;
}

.elementor-2717 .elementor-element.elementor-element-619627c .elementskit-section-title-wraper .elementskit-section-title:hover>span {
    color: #DB0D17;
}

.elementor-2717 .elementor-element.elementor-element-619627c .elementskit-section-title-wraper .elementskit-border-divider {
    width: 100px;
    background: linear-gradient(90deg, #091B46 0%, #091B46 100%);
}

.elementor-2717 .elementor-element.elementor-element-619627c .elementskit-section-title-wraper .elementskit-border-divider.elementskit-style-long {
    width: 100px;
    height: 4px;
    color: #091B46;
}

.elementor-2717 .elementor-element.elementor-element-619627c .elementskit-section-title-wraper .elementskit-border-star {
    width: 100px;
    height: 4px;
    color: #091B46;
}

.elementor-2717 .elementor-element.elementor-element-619627c .elementskit-section-title-wraper .elementskit-border-divider,
.elementor-2717 .elementor-element.elementor-element-619627c .elementskit-border-divider::before {
    height: 4px;
}

.elementor-2717 .elementor-element.elementor-element-619627c .elementskit-section-title-wraper .elementskit-border-divider:before {
    background-color: #091B46;
    color: #091B46;
}

.elementor-2717 .elementor-element.elementor-element-619627c .elementskit-section-title-wraper .elementskit-border-star:after {
    background-color: #091B46;
}

.elementor-bc-flex-widget .elementor-2717 .elementor-element.elementor-element-7055996.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-2717 .elementor-element.elementor-element-7055996.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-2717 .elementor-element.elementor-element-1ad3381 {
    --e-image-carousel-slides-to-show: 1;
}

.elementor-2717 .elementor-element.elementor-element-1ad3381 .elementor-swiper-button.elementor-swiper-button-prev,
.elementor-2717 .elementor-element.elementor-element-1ad3381 .elementor-swiper-button.elementor-swiper-button-next {
    color: var( --e-global-color-3285ad0);
}

.elementor-2717 .elementor-element.elementor-element-1ad3381 .elementor-swiper-button.elementor-swiper-button-prev svg,
.elementor-2717 .elementor-element.elementor-element-1ad3381 .elementor-swiper-button.elementor-swiper-button-next svg {
    fill: var( --e-global-color-3285ad0);
}

.elementor-2717 .elementor-element.elementor-element-46dd4df .elementskit-section-title-wraper .elementskit-section-title {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.elementor-2717 .elementor-element.elementor-element-46dd4df .ekit-heading__title-has-border::before {
    width: 5px;
    height: 100%;
    top: 0px;
}

.elementor-2717 .elementor-element.elementor-element-46dd4df .ekit-heading__title-has-border {
    padding-left: 20px;
}

.elementor-2717 .elementor-element.elementor-element-46dd4df .ekit-heading__title-has-border~* {
    padding-left: 20px;
}

.elementor-2717 .elementor-element.elementor-element-46dd4df .ekit-heading__subtitle-has-border {
    margin-left: 20px;
}

.elementor-2717 .elementor-element.elementor-element-46dd4df .elementskit-section-title-wraper .elementskit-section-title>span {
    color: #000000;
}

.elementor-2717 .elementor-element.elementor-element-46dd4df .elementskit-section-title-wraper .elementskit-section-title:hover>span {
    color: #000000;
}

.elementor-2717 .elementor-element.elementor-element-46dd4df .elementskit-section-title-wraper .elementskit-section-title span:last-child,
.elementor-2717 .elementor-element.elementor-element-46dd4df .elementskit-section-title-wraper .elementskit-section-title>span {
    font-weight: 600;
}

.elementor-2717 .elementor-element.elementor-element-fdc173f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(15px/2);
}

.elementor-2717 .elementor-element.elementor-element-fdc173f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(15px/2);
}

.elementor-2717 .elementor-element.elementor-element-fdc173f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(15px/2);
    margin-left: calc(15px/2);
}

.elementor-2717 .elementor-element.elementor-element-fdc173f .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-15px/2);
    margin-left: calc(-15px/2);
}

body.rtl .elementor-2717 .elementor-element.elementor-element-fdc173f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-15px/2);
}

body:not(.rtl) .elementor-2717 .elementor-element.elementor-element-fdc173f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-15px/2);
}

.elementor-2717 .elementor-element.elementor-element-fdc173f .elementor-icon-list-icon i {
    color: #203975;
}

.elementor-2717 .elementor-element.elementor-element-fdc173f .elementor-icon-list-icon svg {
    fill: #203975;
}

.elementor-2717 .elementor-element.elementor-element-fdc173f {
    --e-icon-list-icon-size: 14px;
}

.elementor-2717 .elementor-element.elementor-element-fdc173f .elementor-icon-list-text {
    color: #000000;
}

.elementor-2717 .elementor-element.elementor-element-fdc173f .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-2717 .elementor-element.elementor-element-fdc173f .elementor-icon-list-item>a {
    font-weight: 500;
    line-height: 24px;
}

.elementor-2717 .elementor-element.elementor-element-3b110c4 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(15px/2);
}

.elementor-2717 .elementor-element.elementor-element-3b110c4 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(15px/2);
}

.elementor-2717 .elementor-element.elementor-element-3b110c4 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(15px/2);
    margin-left: calc(15px/2);
}

.elementor-2717 .elementor-element.elementor-element-3b110c4 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-15px/2);
    margin-left: calc(-15px/2);
}

body.rtl .elementor-2717 .elementor-element.elementor-element-3b110c4 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-15px/2);
}

body:not(.rtl) .elementor-2717 .elementor-element.elementor-element-3b110c4 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-15px/2);
}

.elementor-2717 .elementor-element.elementor-element-3b110c4 .elementor-icon-list-icon i {
    color: #203975;
}

.elementor-2717 .elementor-element.elementor-element-3b110c4 .elementor-icon-list-icon svg {
    fill: #203975;
}

.elementor-2717 .elementor-element.elementor-element-3b110c4 {
    --e-icon-list-icon-size: 14px;
}

.elementor-2717 .elementor-element.elementor-element-3b110c4 .elementor-icon-list-text {
    color: #000000;
}

.elementor-2717 .elementor-element.elementor-element-3b110c4 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-2717 .elementor-element.elementor-element-3b110c4 .elementor-icon-list-item>a {
    font-weight: 500;
    line-height: 24px;
}

.elementor-2717 .elementor-element.elementor-element-3642a66:not(.elementor-motion-effects-element-type-background),
.elementor-2717 .elementor-element.elementor-element-3642a66>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://cloudinteam.github.io/orbit-machines/wp-content/uploads/2023/01/gears.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-2717 .elementor-element.elementor-element-3642a66>.elementor-background-overlay {
    background-color: #FFFFFF;
    opacity: 0.8;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2717 .elementor-element.elementor-element-3642a66 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 40px 0px 30px 0px;
}

.elementor-2717 .elementor-element.elementor-element-306ead4 .elementskit-section-title-wraper .elementskit-section-title {
    color: #DB0D17;
    margin: 0px 0px 6px 0px;
}

.elementor-2717 .elementor-element.elementor-element-306ead4 .elementskit-section-title-wraper .elementskit-section-title:hover {
    color: #DB0D17;
}

.elementor-2717 .elementor-element.elementor-element-306ead4 .elementskit-section-title-wraper .elementskit-section-title>span {
    color: #DB0D17;
}

.elementor-2717 .elementor-element.elementor-element-306ead4 .elementskit-section-title-wraper .elementskit-section-title:hover>span {
    color: #DB0D17;
}

.elementor-2717 .elementor-element.elementor-element-306ead4 .elementskit-section-title-wraper .elementskit-border-divider {
    width: 100px;
    background: linear-gradient(90deg, #091B46 0%, #091B46 100%);
}

.elementor-2717 .elementor-element.elementor-element-306ead4 .elementskit-section-title-wraper .elementskit-border-divider.elementskit-style-long {
    width: 100px;
    height: 4px;
    color: #091B46;
}

.elementor-2717 .elementor-element.elementor-element-306ead4 .elementskit-section-title-wraper .elementskit-border-star {
    width: 100px;
    height: 4px;
    color: #091B46;
}

.elementor-2717 .elementor-element.elementor-element-306ead4 .elementskit-section-title-wraper .elementskit-border-divider,
.elementor-2717 .elementor-element.elementor-element-306ead4 .elementskit-border-divider::before {
    height: 4px;
}

.elementor-2717 .elementor-element.elementor-element-306ead4 .elementskit-section-title-wraper .elementskit-border-divider:before {
    background-color: #091B46;
    color: #091B46;
}

.elementor-2717 .elementor-element.elementor-element-306ead4 .elementskit-section-title-wraper .elementskit-border-star:after {
    background-color: #091B46;
}

.elementor-2717 .elementor-element.elementor-element-143a025 .elementskit-post-image-card {
    display: block;
}

.elementor-2717 .elementor-element.elementor-element-143a025 .elementskit-blog-block-post,
.elementor-2717 .elementor-element.elementor-element-143a025 .elementskit-post-image-card,
.elementor-2717 .elementor-element.elementor-element-143a025 .elementskit-post-card {
    padding: 0px 0px 0px 0px;
    border-style: none;
}

.elementor-2717 .elementor-element.elementor-element-143a025 .elementskit-blog-block-post .elementskit-post-body {
    padding: 10px 10px 10px 10px;
}

.elementor-2717 .elementor-element.elementor-element-143a025 .elementskit-post-image-card .elementskit-post-body {
    padding: 10px 10px 10px 10px;
}

.elementor-2717 .elementor-element.elementor-element-143a025 .elementskit-entry-thumb {
    border-style: none;
}

.elementor-2717 .elementor-element.elementor-element-143a025 .ekit-wid-con .elementskit-entry-thumb {
    padding: 0px 0px 0px 0px;
}

.elementor-2717 .elementor-element.elementor-element-143a025 .elementskit-post-body .entry-title {
    text-align: center;
    margin: 0px 0px 0px 0px;
}

.elementor-2717 .elementor-element.elementor-element-143a025 .elementskit-entry-header .entry-title {
    text-align: center;
    margin: 0px 0px 0px 0px;
}

.elementor-2717 .elementor-element.elementor-element-5039cbe:not(.elementor-motion-effects-element-type-background),
.elementor-2717 .elementor-element.elementor-element-5039cbe>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFDF9;
}

.elementor-2717 .elementor-element.elementor-element-5039cbe {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: -20px;
    z-index: 0;
}

.elementor-2717 .elementor-element.elementor-element-5039cbe>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2717 .elementor-element.elementor-element-e6ec9d0>.elementor-element-populated {
    margin: 0px 0px -20px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-2717 .elementor-element.elementor-element-e6ec9d0>.elementor-element-populated>.elementor-widget-wrap {
    padding: 40px 0px 110px 0px;
}

.elementor-2717 .elementor-element.elementor-element-0880b0f .elementskit-section-title-wraper .elementskit-section-title {
    margin: 0px 0px 6px 0px;
}

.elementor-2717 .elementor-element.elementor-element-0880b0f .elementskit-section-title-wraper .elementskit-section-title>span {
    color: #000000;
}

.elementor-2717 .elementor-element.elementor-element-0880b0f .elementskit-section-title-wraper .elementskit-section-title:hover>span {
    color: #000000;
}

.elementor-2717 .elementor-element.elementor-element-0880b0f .elementskit-section-title-wraper .elementskit-border-divider {
    width: 100px;
    background: linear-gradient(90deg, #DB0D17 0%, #DB0D17 100%);
}

.elementor-2717 .elementor-element.elementor-element-0880b0f .elementskit-section-title-wraper .elementskit-border-divider.elementskit-style-long {
    width: 100px;
    height: 4px;
    color: #DB0D17;
}

.elementor-2717 .elementor-element.elementor-element-0880b0f .elementskit-section-title-wraper .elementskit-border-star {
    width: 100px;
    height: 4px;
    color: #DB0D17;
}

.elementor-2717 .elementor-element.elementor-element-0880b0f .elementskit-section-title-wraper .elementskit-border-divider,
.elementor-2717 .elementor-element.elementor-element-0880b0f .elementskit-border-divider::before {
    height: 4px;
}

.elementor-2717 .elementor-element.elementor-element-0880b0f .elementskit-section-title-wraper .elementskit-border-divider:before {
    background-color: #DB0D17;
    color: #DB0D17;
}

.elementor-2717 .elementor-element.elementor-element-0880b0f .elementskit-section-title-wraper .elementskit-border-star:after {
    background-color: #DB0D17;
}

.elementor-2717 .elementor-element.elementor-element-ad33c8b {
    --e-image-carousel-slides-to-show: 4;
}

.elementor-2717 .elementor-element.elementor-element-ad33c8b .swiper-wrapper {
    display: flex;
    align-items: center;
}

.elementor-2717 .elementor-element.elementor-element-ad33c8b .elementor-image-carousel-wrapper .elementor-image-carousel .swiper-slide-image {
    border-style: none;
    border-radius: 0px 0px 0px 0px;
}

.elementor-2717 .elementor-element.elementor-element-ad33c8b>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 30px 0px;
}

.elementor-2717 .elementor-element.elementor-element-640e846 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 20px;
    z-index: 1;
}

.elementor-2717 .elementor-element.elementor-element-01f90d5>.elementor-element-populated {
    margin: -40px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-2717 .elementor-element.elementor-element-01f90d5>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
}

.elementor-2717 .elementor-element.elementor-element-745d5b4 .footer-top [class*=col]:nth-child(1) {
    background: var( --e-global-color-3285ad0);
}

.elementor-2717 .elementor-element.elementor-element-745d5b4 .footer-top [class*=col]:nth-child(1) .angle-shap {
    border-left-color: var( --e-global-color-3285ad0);
}

.elementor-2717 .elementor-element.elementor-element-745d5b4 .working-box-wrapper .child_1 {
    background: var( --e-global-color-3285ad0);
}

.elementor-2717 .elementor-element.elementor-element-745d5b4 .working-box-wrapper .child_1 .working-left-shape {
    border-color: var( --e-global-color-3285ad0);
}

.elementor-2717 .elementor-element.elementor-element-745d5b4 .working-box-wrapper .child_1 .working-right-shape {
    border-color: var( --e-global-color-3285ad0);
}

.elementor-2717 .elementor-element.elementor-element-745d5b4 .footer-top [class*=col]:nth-child(2) {
    background: var( --e-global-color-3285ad0);
}

.elementor-2717 .elementor-element.elementor-element-745d5b4 .footer-top [class*=col]:nth-child(2) .angle-shap {
    border-left-color: var( --e-global-color-3285ad0);
}

.elementor-2717 .elementor-element.elementor-element-745d5b4 .working-box-wrapper .child_2 {
    background: var( --e-global-color-3285ad0);
}

.elementor-2717 .elementor-element.elementor-element-745d5b4 .working-box-wrapper .child_2 .working-left-shape {
    border-color: var( --e-global-color-3285ad0);
}

.elementor-2717 .elementor-element.elementor-element-745d5b4 .working-box-wrapper .child_2 .working-right-shape {
    border-color: var( --e-global-color-3285ad0);
}

.elementor-2717 .elementor-element.elementor-element-745d5b4 .footer-top [class*=col]:nth-child(3) {
    background: var( --e-global-color-3285ad0);
}

.elementor-2717 .elementor-element.elementor-element-745d5b4 .footer-top [class*=col]:nth-child(3) .angle-shap {
    border-left-color: var( --e-global-color-3285ad0);
}

.elementor-2717 .elementor-element.elementor-element-745d5b4 .working-box-wrapper .child_3 {
    background: var( --e-global-color-3285ad0);
}

.elementor-2717 .elementor-element.elementor-element-745d5b4 .working-box-wrapper .child_3 .working-left-shape {
    border-color: var( --e-global-color-3285ad0);
}

.elementor-2717 .elementor-element.elementor-element-745d5b4 .working-box-wrapper .child_3 .working-right-shape {
    border-color: var( --e-global-color-3285ad0);
}

.elementor-2717 .elementor-element.elementor-element-745d5b4 .working-single-box .working-content-wrapper .workig-icon {
    color: #FFFFFF;
}

.elementor-2717 .elementor-element.elementor-element-745d5b4 .footer-top .footer-box i {
    color: #FFFFFF;
}

.elementor-2717 .elementor-element.elementor-element-745d5b4 .footer-box-content h3,
.elementor-2717 .elementor-element.elementor-element-745d5b4 .working-single-box .working-content h3 {
    font-size: 16px;
}

.elementor-2717 .elementor-element.elementor-element-745d5b4 .working-single-box {
    text-align: left;
}

@media(max-width:1024px) {
    .elementor-2717 .elementor-element.elementor-element-b35eb48 {
        padding: 0px 0px 20px 0px;
    }
    .elementor-2717 .elementor-element.elementor-element-dd1dbed>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 15px 0px 15px;
    }
    .elementor-2717 .elementor-element.elementor-element-c99b2a1>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }
    .elementor-2717 .elementor-element.elementor-element-9d143e8 {
        padding: 0px 0px 0px 0px;
    }
    .elementor-2717 .elementor-element.elementor-element-3642a66 {
        padding: 20px 0px 0px 0px;
    }
    .elementor-2717 .elementor-element.elementor-element-323f323>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 10px;
    }
    .elementor-2717 .elementor-element.elementor-element-323f323>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 15px 0px 15px;
    }
    .elementor-2717 .elementor-element.elementor-element-143a025 .elementskit-blog-block-post,
    .elementor-2717 .elementor-element.elementor-element-143a025 .elementskit-post-image-card,
    .elementor-2717 .elementor-element.elementor-element-143a025 .elementskit-post-card {
        margin: 0px 0px 30px 0px;
    }
    .elementor-2717 .elementor-element.elementor-element-5039cbe {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2717 .elementor-element.elementor-element-e6ec9d0>.elementor-element-populated>.elementor-widget-wrap {
        padding: 20px 0px 80px 0px;
    }
    .elementor-2717 .elementor-element.elementor-element-ad33c8b {
        --e-image-carousel-slides-to-show: 3;
    }
}

@media(max-width:767px) {
    .elementor-2717 .elementor-element.elementor-element-b35eb48 {
        padding: 0px 0px 0px 0px;
    }
    .elementor-2717 .elementor-element.elementor-element-5b3f6c0 {
        padding: 0px 0px 0px 0px;
    }
    .elementor-2717 .elementor-element.elementor-element-9d143e8 {
        padding: 0px 0px 0px 0px;
    }
    .elementor-2717 .elementor-element.elementor-element-91563da {
        padding: 0px 0px 0px 0px;
    }
    .elementor-2717 .elementor-element.elementor-element-143a025 .elementskit-blog-block-post,
    .elementor-2717 .elementor-element.elementor-element-143a025 .elementskit-post-image-card,
    .elementor-2717 .elementor-element.elementor-element-143a025 .elementskit-post-card {
        margin: 0px 0px 30px 0px;
    }
    .elementor-2717 .elementor-element.elementor-element-e6ec9d0>.elementor-element-populated>.elementor-widget-wrap {
        padding: 20px 0px 80px 0px;
    }
    .elementor-2717 .elementor-element.elementor-element-ad33c8b {
        --e-image-carousel-slides-to-show: 1;
    }
    .elementor-2717 .elementor-element.elementor-element-640e846 {
        padding: 0px 0px 15px 15px;
    }
    .elementor-2717 .elementor-element.elementor-element-01f90d5>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 15px;
    }
}